body.has-loading {
    height: 100vh !important;
    width: 100%;
    
}

.loading {
    color: #ffff;
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999999;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}
form {
    width: 100%
}

.img-action {
    height: 20px;
    margin: 5px;
}

a {
    cursor: pointer;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.s-MessageDialog.s-AlertDialog.ui-draggable.ui-resizable {
    z-index: 999 !important;
}
.ui-dialog-titlebar-close {
  
    border-radius: 12px !important;
    border-color: #b73d3d !important;
}
.ui-dialog-titlebar-close:after {
    content: "X";
   
}
.ui-widget-header {
  
    background: #ee0000 !important;
    color: white !important;
  
}