@model Milkyfie.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<div class="container">
    <form asp-action="Login" asp-route-ReturnUrl="@ViewBag.returnUrl">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row justify-content-md-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="login-screen">
                    <div class="login-box">
                        <div class="text-center">
                            <a href="#" class="login-logo">
                                <img src="~/img/logo.png" alt="Le Rouge Admin Dashboard" />
                            </a>
                        </div>
                        <h5>Please Login to your Account.</h5>

                        <div class="form-group">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input asp-for="MobileNo" id="txtemail" autocomplete="off" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" id="txtpassord" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="actions mb-4">
                            <div class="custom-control custom-checkbox">
                                @*<input type="checkbox" class="custom-control-input" id="remember_pwd">*@
                                <input type="checkbox" class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                            </div>
                            <button type="submit" id="btnsubmit" class="btn btn-success">Login</button>
                        </div>
                        @*<div class="forgot-pwd">
                            <a class="link" href="forgot-pwd.html">Forgot password?</a>
                            </div>*@
                        <hr>
                        <div class="actions align-left" style="display:none">
                            <span class="additional-link">New here?</span>
                            <a href="~/Account/Register" class="btn btn-dark">Create an Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
<script>
        $(document).ready(function(){
            $('#btnsubmit').click(function (e) {
                if ($('#txtemail').val() == '')
                {
                    e.preventDefault();
                    Q.notify(-1, 'Email Required');
                    return false;
                }
                if ($('#txtpassord').val() == '')
                {
                    e.preventDefault();
                    Q.notify(-1, 'Password Required');
                    return false;
                }
            })
        })
</script>
}