@model Milkyfie.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}
<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="login-screen w-500">
                <div class="login-box">
                    <div class="text-center">
                        <a href="#" class="login-logo">
                            <img src="~/img/logo.png" alt="Le Rouge Admin Dashboard" />
                        </a>
                    </div>
                    <h5>Create your  Account.</h5>
                    @Html.Partial("PartialView/_Register")
                    <hr>
                    <div class="actions align-left">
                        <span class="additional-link">Have an account? </span>
                        <a href="~/Account/Login" class="btn btn-dark">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


