<!DOCTYPE html>
<html lang="en">
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="ParkerThemes">
		<link rel="shortcut icon" href="~/theme/img/fav.png" />

		<!-- Title -->
		<title>Le Rouge Admin Template - Admin Dashboard</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap css -->
		<link rel="stylesheet" href="~/theme/css/bootstrap.min.css">
		<!-- Icomoon Font Icons css -->
		<link rel="stylesheet" href="~/theme/fonts/style.css">
		<!-- Main css -->
		<link rel="stylesheet" href="~/theme/css/main.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->
		<!-- DateRange css -->
		<link rel="stylesheet" href="~/theme/vendor/daterange/daterange.css" />
			<!-- Data Tables -->
		<link rel="stylesheet" href="~/theme/vendor/datatables/dataTables.bs4.css" />
		<link rel="stylesheet" href="~/theme/vendor/datatables/dataTables.bs4-custom.css" />
		<link href="~/theme/vendor/datatables/buttons.bs.css" rel="stylesheet" />
	</head>
<body>
    	<!-- Loading starts -->
	@*	<div id="loading-wrapper">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>*@
		<!-- Loading ends -->


		<!-- Page wrapper start -->
		<div class="page-wrapper">
			
			<!-- Sidebar wrapper start -->
			<nav id="sidebar" class="sidebar-wrapper">
				
				<!-- Sidebar brand start  -->
				<div class="sidebar-brand">
					<a href="index.html" class="logo">
						<img src="~/img/logo.png" alt="Le Rouge Admin Dashboard" />
					</a>
				</div>
				<!-- Sidebar brand end  -->

				<!-- Sidebar content start -->
				<div class="sidebar-content">

					<!-- sidebar menu start -->
					<div class="sidebar-menu">
						<ul>
							<li class="header-menu">General</li>
							<li class=" active">
								<a href="/">
									<i class="icon-devices_other"></i>
									<span class="menu-text">Dashboards</span>
								</a>
							
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-calendar1"></i>
									<span class="menu-text">Master</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="~/Master/Category">Category</a>
										</li>
										
									</ul>
								</div>
							</li>
						
							<li>
								<a href="~/Account/Users">
									<i class="icon-message-circle"></i>
									<span class="menu-text">User Details</span>
								</a>
							</li>
							
						
							
						</ul>
					</div>
					<!-- sidebar menu end -->

				</div>
				<!-- Sidebar content end -->
				
			</nav>
			<!-- Sidebar wrapper end -->

			<!-- Page content start  -->
			<div class="page-content">

				<!-- Header start -->
				<header class="header">
					<div class="toggle-btns">
						<a id="toggle-sidebar" href="#">
							<i class="icon-list"></i>
						</a>
						<a id="pin-sidebar" href="#">
							<i class="icon-list"></i>
						</a>
					</div>
					<div class="header-items">
						<!-- Custom search start -->
						<div class="custom-search">
							<input type="text" class="search-query" placeholder="Search here ...">
							<i class="icon-search1"></i>
						</div>
						<!-- Custom search end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown">
								<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-box"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
									<div class="dropdown-menu-header">
										Tasks (05)
									</div>	
									<ul class="header-tasks">
										<li>
											<p>#20 - Dashboard UI<span>90%</span></p>
											<div class="progress">
												<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
													<span class="sr-only">90% Complete (success)</span>
												</div>
											</div>
										</li>
										<li>
											<p>#35 - Alignment Fix<span>60%</span></p>
											<div class="progress">
												<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
													<span class="sr-only">60% Complete (success)</span>
												</div>
											</div>
										</li>
										<li>
											<p>#50 - Broken Button<span>40%</span></p>
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-bell"></i>
									<span class="count-label">8</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
									<div class="dropdown-menu-header">
										Notifications (40)
									</div>
									<ul class="header-notifications">
										<li>
											<a href="#">
												<div class="user-img away">
													<img src="~/theme/img/user21.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Abbott</div>
													<div class="noti-details">Membership has been ended.</div>
													<div class="noti-date">Oct 20, 07:30 pm</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user-img busy">
													<img src="~/theme/img/user10.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Braxten</div>
													<div class="noti-details">Approved new design.</div>
													<div class="noti-date">Oct 10, 12:00 am</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user-img online">
													<img src="~/theme/img/user6.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Larkyn</div>
													<div class="noti-details">Check out every table in detail.</div>
													<div class="noti-date">Oct 15, 04:00 pm</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name">Julie Sweet</span>
									<span class="avatar">
										<img src="~/theme/img/user24.png" alt="avatar">
										<span class="status busy"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<div class="header-user-profile">
											<div class="header-user">
												<img src="~/theme/img/user24.png" alt="Admin Template">
											</div>
											<h5>Julie Sweet</h5>
											<p>Admin</p>
										</div>
										<a href="user-profile.html"><i class="icon-user1"></i> My Profile</a>
										<a href="account-settings.html"><i class="icon-settings1"></i> Account Settings</a>
										<a href="~/Account/Logout"><i class="icon-log-out1"></i> Sign Out</a>
									</div>
								</div>
							</li>
						</ul>						
						<!-- Header actions end -->
					</div>
				</header>
				<!-- Header end -->

				<!-- Page header start -->
				<div class="page-header">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Home</li>
						<li class="breadcrumb-item active">Admin Dashboard</li>
					</ol>

					<ul class="app-actions">
						<li>
							<a href="#" id="reportrange">
								<span class="range-text"></span>
								<i class="icon-chevron-down"></i>	
							</a>
						</li>
						<li>
							<a href="~/Account/Logout">
								<i class="icon-export"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Page header end -->
				
				<!-- Main container start -->
				  @RenderBody()
				<!-- Main container end -->

			</div>
			<!-- Page content end -->

		</div>



		<!--**************************
			**************************
				**************************
							Required JavaScript Files
				**************************
			**************************
		**************************-->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="~/theme/js/jquery.min.js"></script>
		<script src="~/theme/js/bootstrap.bundle.min.js"></script>
		<script src="~/theme/js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="~/theme/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="~/theme/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Daterange -->
		<script src="~/theme/vendor/daterange/daterange.js"></script>
		<script src="~/theme/vendor/daterange/custom-daterange.js"></script>

		<!-- Polyfill JS -->
		<script src="~/theme/vendor/polyfill/polyfill.min.js"></script>

		<!-- Apex Charts -->
		<script src="~/theme/vendor/apex/apexcharts.min.js"></script>
		<script src="~/theme/vendor/apex/admin/visitors.js"></script>
		<script src="~/theme/vendor/apex/admin/deals.js"></script>
		<script src="~/theme/vendor/apex/admin/income.js"></script>
		<script src="~/theme/vendor/apex/admin/customers.js"></script>


	
		<script src="~/theme/js/bootstrap.bundle.min.js"></script>
		<script src="~/theme/js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="~/theme/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="~/theme/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Daterange -->
		<script src="~/theme/vendor/daterange/daterange.js"></script>
		<script src="~/theme/vendor/daterange/custom-daterange.js"></script>

		<!-- Data Tables -->
		<script src="~/theme/vendor/datatables/dataTables.min.js"></script>
		<script src="~/theme/vendor/datatables/dataTables.bootstrap.min.js"></script>
		
		<!-- Custom Data tables -->
		<script src="~/theme/vendor/datatables/custom/custom-datatables.js"></script>
		<script src="~/theme/vendor/datatables/custom/fixedHeader.js"></script>

		<!-- Download / CSV / Copy / Print -->
		<script src="~/theme/vendor/datatables/buttons.min.js"></script>
		<script src="~/theme/vendor/datatables/jszip.min.js"></script>
		<script src="~/theme/vendor/datatables/pdfmake.min.js"></script>
		<script src="~/theme/vendor/datatables/vfs_fonts.js"></script>
		<script src="~/theme/vendor/datatables/html5.min.js"></script>
		<script src="~/theme/vendor/datatables/buttons.print.min.js"></script>


	


		<!-- Main JS -->
		<script src="~/theme/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
