

<div class="main-container">
    <!-- Row start -->
    <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header bg-primary text-white h6">
                    Schedule Orders
                    <div class="float-right">  <button id="btnNew" class="btn btn-info">New</button></div>
                </div>
                <div class="card-body">

                    <div class="table-container">
                        <div class="t-header">No Search Field</div>
                        <div class="table-responsive">
                            <table id="basicExample" class="table custom-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                          <th>Customer Name</th>
                                        <th>Category Name</th>
                                        <th>Product Name</th>
                                      
                                        <th>Frequency</th>
                                       <th>Quantity</th>
                                        <th>From Date</th>
                                     @*   <th>To Date</th>*@
                                        <th>Status</th>
                                         <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>


@section scripts{
<script>
    $(document).ready(function(){
       loadScheduleOrders();
        $('#btnNew').click(function(){
             getform(id=0)
        });
    });


     function getform(id=0){
          Q.preloader.load();
             // var id=$('#hdnProductID').val();
              $.ajax({
                type: 'post',
                url: 'OrderSchedule',
                data:{id:id},
                success: function (data) {
                    BindDropDownUsers();
                    BindDropDowncat();
                       BindDDFrequency();
                Q.alert({

                    title: "Schedule Order",
                    body:data,
                    width : '900px',
                    });
                     Q.preloader.remove();
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    Q.preloader.remove();
                },
            });
    }




      function BindDropDowncat(){
          var categorylist=s.Dropdown.Category();
      categorylist.then(result=>
        {
            $('#ddlCategory').empty().append('<option id="Option" name="ParentID" value="0">:: Category ::</option>').append(result.map(x=>`<option value="${x.categoryID}">${x.categoryName}</option>`));
        });
    }
     function BindDDFrequency(){
          var frequenclist=s.Dropdown.Frequency();
      frequenclist.then(result=>
        {
            $('#ddlFrequncy').empty().append('<option id="Option" name="FrequencyID" value="0">:: Select ::</option>').append(result.map(x=>`<option value="${x.frequencyID}">${x.frequencyName}</option>`));
        });
    }

     function BindDropDownUsers(){
          var userslist=s.Dropdown.Users();
      userslist.then(result=>
        {
            console.log(result)
            $('#ddlUser').empty().append('<option id="Option" name="UserID" value="0">:: User ::</option>').append(result.map(x=>`<option value="${x.id}">${x.name}</option>`));
        });
    }

    function loadScheduleOrders(){
         $.ajax({
               type: 'post',
                url: 'GetScheduleOrders',
                success: function (data) {
                   
                      $('tbody').html(data);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                       Q.notify(-1, 'An error occurred.');
                },
          });
    }

</script>

}

