@using Milkyfie.AppCode.Reops.Entities;
@model OrderSchedule

<!-- Row start -->
<div class="row gutters">
    @* <form id="frmproduct" >*@
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="row gutters">
                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName">Select User</label>
                            <select class="form-control Category drpdwn" name="CategoryID" id="ddlUser">
                                <option id="Option" name="CatgoryID" value="0">:: Users ::</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName">Select Category</label>
                            <select class="form-control Category drpdwn" name="CategoryID" id="ddlCategory">
                                <option id="Option" name="CatgoryID" value="0">:: Category ::</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName">Select Product</label>
                            <select class="form-control drpdwn" name="CategoryID" id="ddlProduct">
                                <option id="Option" name="ProductID" value="0">:: Products ::</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName">Frequncy</label>
                            <select class="form-control drpdwn" name="CategoryID" id="ddlFrequncy">
                                <option id="Option" name="CatgoryID" value="0">:: Select ::</option>
                            </select>
                        </div>
                    </div>

                    <div class="row gutters" id="selecteddays" style="display:none">
                        <div class="col-xl-2 col-lg col-md-2 col-sm-21 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Sun</label>
                                <input type="number" id="txtsun" value="0" class="form-control num" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg col-md-2 col-sm-2 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Mon</label>
                                <input type="number" id="txtmon" value="0" class="form-control num" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg col-md-2 col-sm-2 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Tue</label>
                                <input type="number" id="txttue" value="0" class="form-contro numl" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg col-md-2 col-sm-2 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Wed</label>
                                <input type="number" id="txtwed" value="0" class="form-control num" />
                            </div>
                        </div>  <div class="col-xl-2 col-lg col-md-2 col-sm-2 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Thus</label>
                                <input type="number" id="txtthus" value="0" class="form-control num" />
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg col-md-1 col-sm-1 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Fri</label>
                                <input type="number" id="txtfri" value="0" class="form-control num" />
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg col-md-1 col-sm-1 col-12 ">
                            <div class="form-group">
                                <label for="inputName">Sat</label>
                                <input type="number" id="txtsat" value="0" class="form-control num" />
                            </div>
                        </div>

                    </div>



                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName reset">Other Frequncy</label>
                            <input type="text" placeholder="Other Frequency" id="txtotherFrequncy" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName ">Quantity</label>
                            <input type="text" placeholder="Quantity" value="0" id="txtQuantity" class="form-control num" />
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label for="inputName">Start Date</label>
                            <input type="text" placeholder="Start Date" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")" id="txtStartDate" class="form-control" />
                        </div>
                    </div>


                    @*   <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                        <label for="inputName">End Date</label>
                        <input type="text" placeholder="End Date" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")" id="txtEndDate" class="form-control" />
                        </div>
                        </div>*@
                    <div class="col-xl-3 col-lg col-md-3 col-sm-3 col-3">
                        <div class="form-group">
                            <label for="inputName">Shift</label>
                            <select class="form-control" name="CategoryID" id="ddlshift">
                                <option id="Option" name="CatgoryID" value="Morning">Morning</option>
                                <option id="Option" name="CatgoryID" value="Evening">Evening</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="inputName">Description</label>
                            <textarea type="text" placeholder="Description" id="txtDescription" class="form-control reset"></textarea>
                        </div>
                    </div>
                    @* <div class="col-xl-12 col-lg col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                        <label for="inputName">Remark</label>
                        <textarea type="text" placeholder="Remark" id="txtRemark" class="form-control"></textarea>
                        </div>
                        </div>*@
                </div>
                <button class="btn btn-primary" id="btnSubmit">Submit</button>

            </div>
        </div>
    </div>
    @*</form>*@
</div>
<script>
        $( function() {
            $('#txtStartDate').datepicker({ dateFormat: 'dd M yy' }).val();
            //$('#txtEndDate').datepicker({ dateFormat: 'dd M yy' }).val();
    });
      $("#ddlCategory").change(function() {
          BindDropDownProduct($('option:selected', this).val())
      });
       $("#ddlFrequncy").change(function() {
          $('option:selected', this).val()==4?$("#selecteddays").show():$("#selecteddays").hide();
      });
       function BindDropDownProduct(catid){
       var Productlist=s.Dropdown.Products(catid);
        Productlist.then(result=>
          {
              $('#ddlProduct').empty().append('<option id="Option" name="ProductID" value="0">:: Products ::</option>').append(result.map(x=>`<option value="${x.productID}">${x.productName}</option>`));
          });
      }


      $('#btnSubmit').click(function () {
        Q.preloader.load();
          var formData = new FormData();
          formData.append("User.Id", $("#ddlUser").val());
          formData.append("Frequency.FrequencyID", $("#ddlFrequncy").val());
           formData.append("Product.ProductID", $("#ddlProduct").val());
          formData.append("OtherFrequency", $("#txtotherFrequncy").val());
          formData.append("Category.CategoryID", $("#ddlCategory").val());
          formData.append("Quantity", $("#txtQuantity").val());
          formData.append("StartFromDate", $("#txtStartDate").val());
          formData.append("EndToDate", $("#txtEndDate").val());
          formData.append("Description",$("#txtDescription").val());
          formData.append("ScheduleShift", $("#ddlshift").val());


           formData.append("Sunday",$("#txtsun").val());
            formData.append("Moanday",$("#txtmon").val());
             formData.append("Tuesday",$("#txttue").val());
              formData.append("Wednesday",$("#txtwed").val());
               formData.append("Thursday",$("#txtthus").val());
                formData.append("Friday",$("#txtfri").val());
                 formData.append("Saterday",$("#txtsat").val());


          $.ajax({
              type: 'POST',
              url: 'SaveOrderSchedule',
              processData: false,
              contentType: false,
              data: formData,
              success: result => {
                  console.log(result)
                  if(result.statusCode==1)
                  {
                      loadScheduleOrders();
                  $('.reset').val('');
                  $('.num').val('0');
                  $('.drpdwn').val('0');
                  $('.field-validation-valid').remove();
                 Q.notify(result.statusCode, result.responseText);
                  }
                  else
                  {
                   Q.notify(result.statusCode, result.responseText);
                  }
                  Q.preloader.remove();
              },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    Q.preloader.remove();
                },
          })
      });

</script>
