@{
    ViewData["Title"] = "Index";
	    Layout = "_ConsumerLayout";
}
<div class="main-container">
					<!-- Row start -->
					<div class="row gutters">
				<h1>Welcome</h1>
					</div>
					<!-- Row end -->

					<!-- Row start -->
				
					<!-- Row end -->

				</div>