

<div class="main-container">
    <!-- Row start -->
    <div class="row gutters">
       
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header bg-primary text-white h6">
                    Prodcuts
                    <div class="float-right">  <button id="btnNew" class="btn btn-info">New</button></div>
                </div>
                <div class="card-body">

                    <div class="table-container">
                         
                        <div class="table-responsive">
                            <table id="tblproduct" class="table custom-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-nowrap">Category Name</th>
                                        <th class="text-nowrap">Product Name</th>
                                        <th>MRP</th>
                                        <th>SellingPrice</th>
                                        @*<th>Description</th>*@
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>

@section scripts{

<script>
    $(document).ready(function(){
      // $('#tblproduct').DataTable();
       loadProduct();
        $('#btnNew').click(function(){
             getform(id=0)
        });
    });

    
     function getform(id=0){
          Q.preloader.load();
             // var id=$('#hdnProductID').val();
              $.ajax({
                type: 'post',
                url: 'NewProduct',
                data:{id:id},
                success: function (data) {
                      BindDropDowncat();
             BindDropDownUnit();
                Q.alert({
                  
                    title: "Add Product",
                    body:data,
                    width : '900px',
                    });
                     Q.preloader.remove();
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    Q.preloader.remove();
                },
            });
    }
     function BindDropDowncat(){
          var categorylist=s.Dropdown.Category();
      categorylist.then(result=>
        {             
            $('#ddlCategory').empty()
            .append('<option id="Option" name="ParentID" value="0">:: Category ::</option>')
            .append(result.map(x=>`<option value="${x.categoryID}" ${x.categoryID==selectedCat?'selected':''}>${x.categoryName}</option>`));
        });
    }
     function BindDropDownUnit(){
          var unitlist=s.Dropdown.Unit();
      unitlist.then(result=>
        {
            $('#ddlUnit').empty()
            .append('<option id="Option" name="UnitID" value="0">:: Unit ::</option>')
            .append(result.map(x=>`<option value="${x.unitID}" ${x.unitID==selectedunit?'selected':''}>${x.unitName}</option>`));
        });
    }
    // function BindDropDowncat(){
    //      var categorylist=s.Dropdown.Category();
    //  categorylist.then(result=>
    //    {
    //        $('#ddlCategory').empty().append('<option id="Option" name="ParentID" value="0">:: Category ::</option>').append(result.map(x=>`<option value="${x.categoryID}">${x.categoryName}</option>`));
    //    });
    //}

    // function BindDropDownUnit(){
    //      var unitlist=s.Dropdown.Unit();
    //  unitlist.then(result=>
    //    {
    //        $('#ddlUnit').empty().append('<option id="Option" name="UnitID" value="0">:: Unit ::</option>').append(result.map(x=>`<option value="${x.unitID}">${x.unitName}</option>`));
    //    });
    //}
    function loadProduct(){
         $.ajax({
               type: 'post',
                url: 'GetProduct',
                success: function (data) {
                      $('tbody').html(data);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                       Q.notify(-1, 'An error occurred.');
                },
          });
    }

</script>

}