@{
    Layout = "_LayOutSiteAdmin";
}    <!-- Page Title -->
    <section class="page-title" style="background-image:url(siteadmin/assets/images/background/bg-7.jpg)">
        <div class="auto-container">
            <h2>About us</h2>
            <ul class="page-breadcrumb">
                <li><a href="/">home</a></li>
                <li>About us</li>
            </ul>
        </div>
    </section>

    <!-- About Us Section Three -->
    <section class="about-us-section-three">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-block">
                        <h2>About our History</h2>
                       
                        <div class="text">
This revolution led to an increase in milk production many fold which led to the co-operatives declaring milk holidays around Pune. This adversity was circumvented by helping farmers by collecting their milk on such milk holidays. And thus was born Milkyfie. </div>
                        <div class="image wow fadeInUp" data-wow-duration="1500ms"><img src="/siteadmin/assets/images/resource/image-18.jpg" alt=""></div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="content-block">
                        <h2>Our Mission</h2>
                        <div class="text">
                            <p>Should be able to trust our brands. This is why food quality is a fundamental requirement for Parag. We make every effort to ensure that our processes are safe, and that high quality standards are maintained throughout the supply chain.</p>
                            <p>Focus on dairy innovation, enables us to produce an array of products that make milk moments nutritious, healthy, and enjoyable and we market them under well targeted portfolio of brands.</p>
                        </div>
                    </div>
                    <div class="content-block">
                        <h2>Our Vision</h2>
                        <div class="text">
                            <p>We strive to optimize the potential of milk across a host of exciting dairy products to fill each day with imaginative and healthy options for our consumers. 
</p>
                            <p>We believe that milk in all its wonderful forms is one of nature’s most nutritious foods and anyone who consumes milk products daily, benefits from vital nutrients that the body needs. Fulfilling dietary nutritional requirements is a source of great joy and creativity for us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section sp-two" style="background-image: url(siteadmin/assets/images/background/bg-1.jpg);">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-title">
                        <h2>Know About Our Farm <br> And History</h2>
                        <div class="text">The FARM Animal Care Program standards are revised every three years to reflect the most current science and best management practices within the dairy industry. The current standards, rationale, and accountability measures have been reviewed and revised by the FARM Technical Writing Group and National Milk Producers Federation Animal Health and Well-Being Committee and approved by the National Milk Producers.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-distillatory"></span></div>
                                <h5>Modern <br> Dairy</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-null-4"></span></div>
                                <h5>Natural & <br> Organic</h5>
                            </div>
                        </div><div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-wine"></span></div>
                                <h5>Best <br> Products</h5>
                            </div>
                        </div><div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-null-3"></span></div>
                                <h5>Awarded <br> Farm</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="image text-lg-right wow fadeInRight" data-wow-delay="500ms"><img src="/siteadmin/assets/images/resource/cow.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    
    <!-- Our Team -->
 