@{
        Layout = "_LayOutSiteAdmin"; 
}
    <section class="page-title" style="background-image:url(assets/images/background/bg-7.jpg)">
        <div class="auto-container">
            <h2>Our Gallery</h2>
            <ul class="page-breadcrumb">
                <li><a href="/WebSite/Index">home</a></li>
                <li>About Us</li>
                <li>Our Gallery</li>
            </ul>
        </div>
    </section>

    <!-- Gallery Section -->
    <section class="gallery-section style-two">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/1.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/2.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/3.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/4.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/5.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/6.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/12.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/12.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/13.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/13.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/siteadmin/assets/images/gallery/14.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <div class="zoom-btn"><a href="/siteadmin/assets/images/gallery/14.jpg" class="lightbox-image" data-fancybox="gallery"><img src="/siteadmin/assets/images/icons/icon-2.png" alt=""></a></div>
                            <h4><span>Farmer in Field</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>