@{
       Layout = "_LayOutSiteAdmin"; 
}   
<section class="page-title" style="background-image:url(assets/images/background/bg-7.jpg)">
        <div class="auto-container">
            <h2>Our Products</h2>
            <ul class="page-breadcrumb">
                <li><a href="/WebSite/Index">home</a></li>
                <li>Our Products</li>
            </ul>
        </div>
    </section>

    <!-- Our Services Two -->
    <section class="services-section" style="background-image: url(assets/images/background/bg-3.jpg);">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>What We Offer</h2>
                <div class="text">Pride of Cows is a brand of Parag Milk Foods. It is regarded as India's most modern dairy farm with the finest international equipment that provides the customers with superior farm-to-home milk.</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="/siteadmin/assets/images/resource/image-4.jpg" alt=""></div>
                        <h4>Butter</h4>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInDown" data-wow-duration="1500ms">
                        <div class="image"><img src="/siteadmin/assets/images/resource/image-5.jpg" alt=""></div>
                        <h4>Milk</h4>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="/siteadmin/assets/images/resource/image-6.jpg" alt=""></div>
                        <h4>Cheese</h4>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInDown" data-wow-duration="1500ms">
                        <div class="image"><img src="/siteadmin/assets/images/resource/image-7.jpg" alt=""></div>
                        <h4>Creame</h4>
                        
                    </div>
                </div>
            </div>
            <div class="view-all text-center mt-3"><a href="#" class="theme-btn btn-style-one style-two"><span>View all products</span></a></div>
        </div>
    </section>