@{
        Layout = "_LayOutSiteAdmin"; 
}
    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="swiper-container banner-slider">
            <div class="swiper-wrapper">
                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url(siteadmin/assets/images/main-slider/image-1.jpg);">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <h1>Milk and Fresh Products</h1>
                                <div class="text">Dairy producers worldwide face similar challenges around animal welfare, <br>farm profitability, food safety and work efficiency.  </div>
                                <div class="link-box">
                                    <a href="#" class="theme-btn btn-style-one"><span>View all products</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url(siteadmin/assets/images/main-slider/image-2.jpg);">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <h1>Healthy Natural Products</h1>
                                <div class="text">At Milkyfie, each day is filled with providing new inspiration to consumers, to create fresh trends in dairy consumption.</div>
                                <div class="link-box">
                                    <a href="#" class="theme-btn btn-style-one"><span>View all products</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url(siteadmin/assets/images/main-slider/image-3.jpg);">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <h1>100% Natural & Healthy Milk</h1>
                                <div class="text">Our products play a central role in people’s lives, they awake to them and consume them all day long. We believe in making dairy moments enjoyable, inspiring and nutritious!</div>
                                <div class="link-box">
                                    <a href="#" class="theme-btn btn-style-one"><span>View all products</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-slider-nav">
            <div class="banner-slider-control banner-slider-button-prev"><span><i class="far fa-angle-left"></i></span></div>
            <div class="banner-slider-control banner-slider-button-next"><span><i class="far fa-angle-right"></i></span> </div>
        </div>
    </section>
    <!-- End Bnner Section -->

    <!-- Welcome Section -->
    <section class="welcome-section pb-0">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Welcome to Milkyfie</h2>
                <div class="text">The FARM Animal Care Program standards are revised every three years to reflect the most current science and <br> best management practices within the dairy industry. </div>
            </div>
            <div class="row">
                <div class="col-lg-4 welcome-block-one">
                    <div class="inner-box">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-1.jpg" alt=""></div>
                        <div class="content">
                            <h4>Milking</h4>
                            <div class="text">
The plant is equipped with state of the art technology which packs milk & dairy products in tetra packs. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 welcome-block-one">
                    <div class="inner-box">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-2.jpg" alt=""></div>
                        <div class="content">
                            <h4>Feeding</h4>
                            <div class="text">Milkyfie processes raw milk into processed pouch milk, curd, paneer, ghee, and shrikhand. </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 welcome-block-one">
                    <div class="inner-box">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-3.jpg" alt=""></div>
                        <div class="content">
                            <h4>Our Products</h4>
                            <div class="text">Lexcept to obtain some advantage from <br> it? But who has any right to find fault <br> with a man chooses to enjoy.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section" style="background-image: url(siteadmin/assets/images/background/bg-1.jpg);">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sec-title">
                        <h2>Know About Our Farm <br> And History</h2>
                        <div class="text">The FARM Animal Care Program standards are revised every three years to reflect the most current science and best management practices within the dairy industry. The current standards, rationale, and accountability measures have been reviewed and revised by the FARM Technical Writing Group and National Milk Producers Federation Animal Health and Well-Being Committee and approved by the National Milk Producers.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-distillatory"></span></div>
                                <h5>Modern <br> Dairy</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-null-4"></span></div>
                                <h5>Natural & <br> Organic</h5>
                            </div>
                        </div><div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-wine"></span></div>
                                <h5>Best <br> Products</h5>
                            </div>
                        </div><div class="col-md-3">
                            <div class="icon-box">
                                <div class="icon"><span class="flaticon-null-3"></span></div>
                                <h5>Awarded <br> Farm</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="image text-lg-right wow fadeInRight" data-wow-delay="500ms"><img src="siteadmin/assets/images/resource/cow.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA Section -->
    <section class="cta-section" style="background-image: url(siteadmin/assets/images/background/bg-2.jpg);">
       
        <div class="auto-container">
            <div class="row">
                <div class="col-md-8">
            <div class="outer-box">
                <h2>Messages from Chairman</h2>
                <h3>Name : -</h3><br>

                <div class="text">Dairy producers worldwide face similar challenges around animal welfare, farm profitability, food safety and work efficiency. Discover how our customers are solving these challenges. Also known as the land of milk and honey for its rich and vibrant farming tradition.</div>
            </div>
            </div>

             <div class="col-md-4">
            <div class="outer-box">
               <img src="siteadmin/assets/images/resource/team-18.png" alt="">
            </div>
            </div>


            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="services-section" style="background-image: url(siteadmin/assets/images/background/bg-3.jpg);">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>What We Offer</h2>
                <div class="text">Pride of Cows is a brand of Parag Milk Foods. It is regarded as India's most modern dairy farm with the finest international equipment that provides the customers with superior farm-to-home milk.</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-4.jpg" alt=""></div>
                        <h4>Butter</h4>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInDown" data-wow-duration="1500ms">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-5.jpg" alt=""></div>
                        <h4>Milk</h4>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-6.jpg" alt=""></div>
                        <h4>Cheese</h4>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 service-block-one">
                    <div class="inner-box wow fadeInDown" data-wow-duration="1500ms">
                        <div class="image"><img src="siteadmin/assets/images/resource/image-7.jpg" alt=""></div>
                        <h4>Creame</h4>
                        
                    </div>
                </div>
            </div>
            <div class="view-all text-center mt-3"><a href="#" class="theme-btn btn-style-one style-two"><span>View all products</span></a></div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features-section">
        <div class="image-one"><img src="siteadmin/assets/images/resource/sketch-1.jpg" alt=""></div>
        <div class="image-two"><img src="siteadmin/assets/images/resource/sketch-2.jpg" alt=""></div>
        <div class="auto-container">
            <div class="feature-block-one">
                <div class="inner-box">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="image wow fadeInRight" data-wow-duration="1500ms"><img src="/siteadmin/assets/images/resource/image-8.jpg" alt=""></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content pl-lg-80">
                                <h3>Natural & Organic <br> Products</h3>
                                <div class="text">The UHT technology is of international standards with the best European technology, fully automated and requires minimum human intervention. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-block-one">
                <div class="inner-box">
                    <div class="row no-gutters">
                        <div class="col-lg-6 order-lg-2">
                            <div class="image wow fadeInLeft" alt=""><div class="image wow fadeInRight" data-wow-duration="1500ms"><img src="/siteadmin/assets/images/resource/image-9.jpg" alt=""></div></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content pr-lg-80 pt-lg-5">
                                <h3>Featured Recipe</h3>
                                <div class="text">The plant is equipped with state of the art technology which packs milk & dairy products in tetra packs. The employee strength is 100+ thus helping farmers get a source of income through their livestock.</div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Products -->
    <section class="products-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Our Product</h2>
                <div class="text">Dairy foods like low-fat or fat-free milk, yogurt and cheese are fundamental to good nutrition. Healthy eating styles that include <br> fat-free or low-fat dairy foods have been linked to health benefits.</div>
            </div>
            <div class="theme_carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 40, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "3" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="siteadmin/assets/images/resource/products/1.jpg" alt=""></a>
                        </div>
                      
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="siteadmin/assets/images/resource/products/2.jpg" alt=""></a>
                        </div>
                      
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="siteadmin/assets/images/resource/products/3.jpg" alt=""></a>
                        </div>
                       
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="siteadmin/assets/images/resource/products/4.jpg" alt=""></a>
                        </div>
                       
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="siteadmin/assets/images/resource/products/1.jpg" alt=""></a>
                        </div>
                        
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="siteadmin/assets/images/resource/products/2.jpg" alt=""></a>
                        </div>
                       
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="/siteadmin/assets/images/resource/products/3.jpg" alt=""></a>
                        </div>
                       
                    </div>
                </div>
                <div class="shop-item">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="/siteadmin/assets/images/resource/products/4.jpg" alt=""></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Team -->
    

    <!-- Testimonial Section -->
    
    <!-- Blog Section -->
    <section class="blog-section">
        <div class="image-one"><img src="/siteadmin/assets/images/resource/sketch-3.jpg" alt=""></div>
        <div class="auto-container">
            <div class="sec-title">
                <h2>Pride of Cows.</h2>
                <div class="text">Farm proud  from our dedicated farmers</div>
            </div>
            <div class="row">
                <div class="news-block-one col-lg-4">
                    <div class="inner-box">
                        <div class="image"><a href="#"><img src="/siteadmin/assets/images/resource/news-1.jpg" alt=""></a></div>
                        <div class="content">
                          
                            <a href="#"><h4>Earth Is What We All Have in Common...</h4></a>
                        </div>
                    </div>
                </div>
                <div class="news-block-two col-lg-4">
                    <div class="inner-box">
                        <div class="image"><a href="#"><img src="/siteadmin/assets/images/resource/news-2.jpg" alt=""></a></div>
                        <div class="content">
                          
                            <a href="#"><h4>Spring into Robotic Milking Savings with us...</h4></a>
                          
                        </div>
                    </div>
                </div>
                <div class="news-block-two col-lg-4">
                    <div class="inner-box">
                        <div class="image"><a href="#"><img src="/siteadmin/assets/images/resource/news-3.jpg" alt=""></a></div>
                        <div class="content">
                           
                            <a href="#"><h4>Earth Is What We All Have in Common...</h4></a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
