body.has-loading {
    height: 100vh !important;
    width: 100%;
}

.loading {
    color: #ffff;
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999999;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

form {
    width: 100%
}

.img-action {
    height: 20px;
    margin: 5px;
}

a {
    cursor: pointer;
}

.lobipanel .card-header .dropdown .dropdown-menu .dropdown-item i {
    color: #ffff;
}

.lobipanel .card-header .dropdown .dropdown-menu .dropdown-item:hover, .lobipanel .card-header .dropdown .dropdown-menu .dropdown-item:focus:hover {
    background-color: transparent;
}

.btn-outline-red {
    color: #ee0000;
    background-color: #ffffff;
    border-color: #ee0000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.lobipanel .card-header .dropdown .dropdown-menu .dropdown-item {
    height: 23px!important;
}

