
				<div class="main-container">
					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-body">
									<div class="row gutters">
									<div class="col-xl-4 col-lg col-md-4 col-sm-4 col-12">
											<div class="form-group">
													<label for="inputName">Select Category</label>
												<select class="form-control form-control-sm">
													<option>Small select</option>
												</select>
											</div>
										</div>
										<div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
											<div class="form-group">
												<label for="inputName">Category Name</label>
												<input type="text" class="form-control" id="txtCategoryName" placeholder="Enter Category name">
											</div>
										</div>
										<div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
											<div class="form-group">
												<label for="inputName">Icon </label>
												<input type="text" class="form-control" id="txtIcon" placeholder="Enter Icon">
											</div>
										</div>
									</div>
										<input class="btn btn-primary" type="submit" value="Submit">
										<input class="btn btn-secondary" type="button" value="Cancel">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			
					<div class="main-container">
					<!-- Row start -->
				<div class="table-container">
								<div class="t-header">No Search Field</div>
								<div class="table-responsive">
									<table id="copy-print-csv" class="table custom-table">
										<thead>
											<tr>
											  <th>Category Name</th>
											  <th>Icon</th>
											  
											</tr>
										</thead>
										<tbody>
											<tr>
											  <td>Milk</td>
											  <td>fa fa-milk</td>
											 
											</tr>
										
										
										</tbody>
						    	</table>
								</div>
							</div>
							
			</div>